# node_modules
node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.*
!.env.example

# Cypress files
cypress/videos/
cypress/screenshots/
reports/
downloads/
cypress-log.txt